@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

header {
  text-align: center;
  font-family: Roboto, Courier, monospace;
}

header h1 {
  font-size: 50px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
}

.selected {
  background-color: beige;
}

#content {
  display: flex;
  justify-content: center;
  align-content: center;
}